.single-doctor{
    margin-top: 80px;
}

.single-doctor .col-2 img{
    padding: 0;
    width: 480px;
    padding-left: 60px;
    height: 380px;
}

.single-doctor .col-2{
    padding: 10px;
}

.single-doctor h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-doctor h1{
    margin: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.single-doctor i{
    color: #00cce4;
}

.single-doctor p{
    font-size: 18px;
}