*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.message{
    width: 500px;
    margin: auto;
}

.chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f1f0e8;
}

.chat-header{
    display: flex;
    cursor: pointer;
}

.profile {
    width: 100%;
    background: #036055;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    position: relative;
}

.profile-img{
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 32px;
}

.arrow-img{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 15px;
    cursor: pointer;
}

.profile h2{
    display: inline-block;
    line-height: 60px;
    vertical-align: bottom;
    color: #fff;
    font-size: 20px;
}

.profile span{
    color: #ccc;
    position: absolute;
    top: 42px;
    left: 100px;
    font-size: 14px;
}