*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.message{
    width: 500px;
    margin: auto;
    background: #00cce4;
}

.chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f1f0e8;
}

.chat-header{
    display: flex;
    cursor: pointer;
    
}

.profile {
    width: 100%;
    background: #00cce4;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    position: relative;
}

.profile-img{
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 32px;
}

.arrow-img{
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 15px;
    cursor: pointer;
}

.profile h2{
    display: inline-block;
    line-height: 60px;
    vertical-align: bottom;
    color: #fff;
    font-size: 20px;
}

.profile span{
    color: #ccc;
    position: absolute;
    top: 42px;
    left: 100px;
    font-size: 14px;
}

.icon {
display: inline-block;
width: 25px;
margin-left: 20px;

}

.left {
    flex: 1;
}

.chat-box {
    flex: 1;
}

.chat-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.chat-footer textarea{
    display: block;
    flex: 1;
    width: 100%;
    border-radius: 60px;
    margin: 5px;
    outline: none;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 90px;
    border: 2px solid #ccc;
    color: #555;
    resize: none;
    padding: 10px;
    height: 50px;
}

.mic {
    display: block;
    width: 55px;
    height: 55px;
    margin-right: 20px;
}

.emo {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 12px;
}

.chat-icon {
    position: absolute;
    right: 100px;
    top: 10px;
}

.chat-icon img{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}