.single-doctor{
    margin-top: 50px;
}

.single-doctor .col-2 img{
    padding: 0;
    width: 480px;
    padding-left: 60px;
    height: 380px;
}

.single-doctor .col-2{
    padding: 10px;
}

.single-doctor h4{
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
}

.single-doctor h1{
    margin: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

.col-2 i{
    color: #00cce4;
    padding-left: 10px;
  
}

.single-doctor p{
    font-size: 18px;
}

.single-doctor input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #00cce4;
}

.small-img-row2{
    display: flex;
    justify-content: space-between;
   padding-top: 10px;
}

.col-2{
    padding-right: 20px;
}

.small-img-col2 img{
   flex-basis: 24%;
   cursor: pointer;
   height: 200px;
   width: 200px;
}
.cart input{
    padding-right: 10px;
    border: #00cce4 1px solid;
    border-radius: 5px;
    border-width: 2px;
    height: 35px;
}
.cart span{
    margin-left: 8px;
}

.col-2 h2{
    font-size: 30px;
    font-weight: bold;
}

.col-2 h4{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

.col-2 h3{
    font-size: 20px;
    font-weight: 2px;
    color: gray;
padding-top: 10px;
}