* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-right: 40px;
  padding-left: 70px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 40px;
  padding-left: 60px;
  padding-left: 30px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 25px;
  line-height: 60px;
  margin: 25px 0;
  font-weight: bold;
  padding-top: 40px;
}

.col-2 p {
  line-height: 30px;
}

.btn {
  display: inline-block;
  background: #00cce4;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: chocolate;
}

.btn i {
  color: #fff;
  padding: 5px;
  letter-spacing: 5px;
  background: #00cce4;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.checkout {
  color: chocolate;
}

/*- media query-*/

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #eaeff4;
    width: 100%;
  }
  nav ul li {
    display: block;
    margin-right: 20px;

    text-align: right;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}


.btn2 {
  display: inline-block;
  background: #00cce4;
  color: #fff;
  padding: 10px 30px;

  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn2:hover {
  background: chocolate;
}

.btn2 i:hover {
  background: chocolate;
}

.btn i:hover {
  background: chocolate;
}

.btn2 i {
  color: #fff;
  padding: 5px;
  letter-spacing: 5px;
  background: #00cce4;
}