.cookies {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-top: 40px;
}

.cookies h1{
    font-weight: bold;
    text-align: center;
    
}

.cookies h2{
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
    
}