.ourservices__card {
  height: 250px;
  width: 350px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: normal;
  padding-top: 80px;
}

.ourservices__cardtitle {
  color: #40394a;
  font-size: 14px;
  font-weight: 800;
}

.ourservices__card h1 {
 color: #00cce4;
 font-weight: bold;
 padding-left: 30px;
 padding-right: 10px;
}

.ourservices__card i {
 padding-bottom: 30px;
 color: #00cce4;
 font-size: 40px;
}

.ourservices__cardparagraph {
  color: #6e7582;
  margin-top: 2px;
  margin: 0px 40px 0px 40px;
  text-align: left;
  padding-left: 40px;
}

.ourservices__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  /* width: 1200px; */
  margin-left: auto;
  margin-right: auto;
}
